
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Value</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @extract.each do |item| %>
    
    <tr>
      <td><%= item.tipo %></td>
      <td><%= item.status == Cash::DEBT ? "- ": "" %>$ <%= number_with_precision(item.value, precision: 2, separator: ',', delimiter: '.') %></td>
      <td><%= item.status == Cash::DEBT ? "DEBT" : "CREDIT" %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>
