
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Value</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @extract.each do |item| %>
    
    <tr>
      <td><%= item.tipo %></td>
      <td>$ <%= item.value %></td>
      <td><%= item.status %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>
