<h1>Project Start</h1>

<div>
  <div class="card mb-3 divBox" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Total value</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">$100</h6>
    </div>
  </div>
  <div class="card mb-3 divBox" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Revenues</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">$60</h6>
    </div>
  </div>
  <div class="card mb-3 divBox" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Expenses</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">$40</h6>
    </div>
  </div>
</div>
<%= render 'input' %>
<%= render 'table' %>